/**
 * Images variables
 */

$width-photo: 150px;
$height-photo: 150px;

$width-photo-higher: 200px;
$height-photo-higher: 200px;

$border-radius-photo: 50%;

$width-business-img: 50px;
$width-business-img: 50px;

$border-radius-business-img: 10px;
