<section id="tertiary-content">
    <h1>
        <i class="fa fa-certificate icon" aria-hidden="true"></i>
        <span>Licencias y certificaciones</span>
    </h1>

    <div class="cert">
        <h3>
            <i class="fa-solid fa-medal icon" aria-hidden="true"></i>
            <span class="italic">Professional Scrum Master I</span>
        </h3>

        <div>
            <i class="fas fa-landmark icon" aria-hidden="true"></i>
            <a href="https://www.scrum.org/" target="_blank">Scrum.org</a>
        </div>
        <div>
            <i class="fas fa-calendar-alt icon" aria-hidden="true"></i>
            <span class="gray-data">Expedición: julio 2021 • Sin fecha de vencimiento</span>
        </div>

        <a class="button-link" href="https://www.scrum.org/certificates/679138" target="_blank">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            <span>Ver credencial</span>
        </a>
    </div>

    <div class="cert">
        <h3>
            <i class="fa-solid fa-medal icon" aria-hidden="true"></i>
            <span class="italic">Angular</span>
        </h3>

        <div>
            <i class="fas fa-landmark icon" aria-hidden="true"></i>
            <span>Udemy</span>
        </div>
        <div>
            <i class="fas fa-calendar-alt icon" aria-hidden="true"></i>
            <span class="gray-data">Expedición: marzo 2020 • Sin fecha de vencimiento</span>
        </div>

        <a class="button-link" href="https://www.udemy.com/certificate/UC-c73bd55f-7c07-41c2-820c-85de4820c296/" target="_blank">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            <span>Ver credencial</span>
        </a>
    </div>

    <div class="cert">
        <h3>
            <i class="fa-solid fa-medal icon" aria-hidden="true"></i>
            <span class="italic">React, Angular y Vue</span>
        </h3>

        <div>
            <i class="fas fa-landmark icon" aria-hidden="true"></i>
            <span>Udemy</span>
        </div>
        <div>
            <i class="fas fa-calendar-alt icon" aria-hidden="true"></i>
            <span class="gray-data">Expedición: diciembre 2019 • Sin fecha de vencimiento</span>
        </div>

        <a class="button-link" href="https://www.udemy.com/certificate/UC-NB5U94GH/" target="_blank">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            <span>Ver credencial</span>
        </a>
    </div>

    <div class="cert">
        <h3>
            <i class="fa-solid fa-medal icon" aria-hidden="true"></i>
            <span class="italic">JavaScript, JQuery, TypeScript, Angular, Node.js y MongoDB</span>
        </h3>

        <div>
            <i class="fas fa-landmark icon" aria-hidden="true"></i>
            <span>Udemy</span>
        </div>
        <div>
            <i class="fas fa-calendar-alt icon" aria-hidden="true"></i>
            <span class="gray-data">Expedición: noviembre 2019 • Sin fecha de vencimiento</span>
        </div>

        <a class="button-link" href="https://www.udemy.com/certificate/UC-WM1ZBGJU/" target="_blank">
            <i class="fa fa-paper-plane" aria-hidden="true"></i>
            <span>Ver credencial</span>
        </a>
    </div>

    <div class="cert">
        <h3>
            <i class="fa-solid fa-medal icon" aria-hidden="true"></i>
            <span class="italic">Java Avanzado con Tecnologías Spring</span>
        </h3>

        <div>
            <i class="fas fa-landmark icon" aria-hidden="true"></i>
            <span>Vitae Consultores</span>
        </div>
        <div>
            <i class="fas fa-calendar-alt icon" aria-hidden="true"></i>
            <span class="gray-data">Expedición: septiembre 2019 • Sin fecha de vencimiento</span>
        </div>
    </div>

    <div class="view-more-cert">Ver más</div>

    <div class="certs is-hidden">
        <div class="cert">
            <h3>
                <i class="fa-solid fa-medal icon" aria-hidden="true"></i>
                <span class="italic">Grado en Ingeniería Informática</span>
            </h3>

            <div>
                <i class="fas fa-landmark icon" aria-hidden="true"></i>
                <span>Universidade de Santiago de Compostela</span>
            </div>
            <div>
                <i class="fas fa-calendar-alt icon" aria-hidden="true"></i>
                <span class="gray-data">Expedición: julio 2019 • Sin fecha de vencimiento</span>
            </div>
        </div>

        <div class="cert">
            <h3>
                <i class="fa-solid fa-medal icon" aria-hidden="true"></i>
                <span class="italic">CELGA 4</span>
            </h3>

            <div>
                <i class="fas fa-landmark icon" aria-hidden="true"></i>
                <span>Xunta de Galicia</span>
            </div>
        </div>

        <div class="cert">
            <h3>
                <i class="fa-solid fa-medal icon" aria-hidden="true"></i>
                <span class="italic">Carnet de conducir</span>
            </h3>

            <div>
                <i class="fas fa-landmark icon" aria-hidden="true"></i>
                <span>Dirección General de Tráfico</span>
            </div>
        </div>

        <div class="cert">
            <h3>
                <i class="fa-solid fa-medal icon" aria-hidden="true"></i>
                <span class="italic">Preliminary English Test (B1)</span>
            </h3>

            <div>
                <i class="fas fa-landmark icon" aria-hidden="true"></i>
                <span>Cambridge Assessment English</span>
            </div>
        </div>

        <div class="cert">
            <h3>
                <i class="fa-solid fa-medal icon" aria-hidden="true"></i>
                <span class="italic">Seguridad y salud en oficinas</span>
            </h3>
            
            <div>
                <i class="fas fa-landmark icon" aria-hidden="true"></i>
                <span>Quirónprevención</span>
            </div>
        </div>
    </div>

    <div class="view-less-cert is-hidden">Ver menos</div>
</section>
