<section class="is-hidden" id="contact">
    <div id="cancel-contact">&#10006;</div>
    <h2>
        <i class="fas fa-user-alt icon" aria-hidden="true"></i>
        <span>Información de contacto</span>
    </h2>
    <dl class="data-contact">
        <dt>Perfil</dt>
        <dd><a class="blue-data" href="https://www.linkedin.com/in/carlos-otero-franjo/" target="_blank">linkedin.com/in/carlos-otero-franjo</a></dd>
    
        <dt>Email</dt>
        <dd>coterofr@uoc.edu</dd>
    
        <dt>Cumpleaños</dt>
        <dd>22 de Julio de 1997</dd>
    </dl>
</section>
