<section id="secondary-content">
    <h1>
        <i class="fa-solid fa-book icon" aria-hidden="true"></i>
        <span>Educación</span>
    </h1>

    <div class="center in-process">
        <div class="title">
            <img class="business-img" src="./assets/images/uoc.png" alt="UOC">
            <h2>
                <a href="https://www.uoc.edu/portal/es/index.html" target="_blank">Universitat Oberta de Catalunya</a>
            </h2>
            <div class="process">En proceso</div>
        </div>

        <div>
            <i class="fa-solid fa-book icon" aria-hidden="true"></i>
            <span>Máster Universitario de Desarrollo de Sitios y Aplicaciones Web, Ingeniería Informática</span>
        </div>
        <div>
            <i class="fas fa-calendar-alt icon" aria-hidden="true"></i>
            <span class="gray-data">septiembre 2021 - julio 2022</span>
        </div>

        <p>
            <span class="underline">Titulación</span>: <span class="bold">9,3</span>
        </p>
        <p>Máster universitario para la especialización en el desarrollo de aplicaciones web. Enfocado en el desarrollo <span class="italic">frontend</span> avanzado mediante <span class="italic">JavaScript</span> y <span class="italic">TypeScript</span>, frameworks <span class="italic">JavaScript</span> como <span class="italic">Angular</span> y herramientas <span class="italic">HTML</span> y <span class="italic">CSS</span>; en el desarrollo backend mediante el modelado, gestión y administración de bases de datos, el entorno de ejecución de <span class="italic">JavaScript Node.js</span>, los <span class="italic">CMS Wordpress</span> y <span class="italic">Drupal</span> y frameworks <span class="italic">PHP</span> como <span class="italic">Laravel</span>; y en los sistemas de control de versiones como la plataforma <span class="italic">Github</span>.</p>
    </div>

    <div class="center">
        <div class="title">
            <img class="business-img" src="./assets/images/usc.jpg" alt="USC">
            <h2>
                <a href="https://www.usc.gal/gl" target="_blank">Universidade de Santiago de Compostela</a>
            </h2>
        </div>

        <div>
            <i class="fa-solid fa-book icon" aria-hidden="true"></i>
            <span>Grado en Ingeniería Informática, Ingeniería Informática</span>
        </div>
        <div>
            <i class="fas fa-calendar-alt icon" aria-hidden="true"></i>
            <span class="gray-data">septiembre 2015 - julio 2019</span>
        </div>

        <p>
            <span class="underline">Titulación</span>: <span class="bold">8</span>
        </p>
        <p>Grado en Ingeniería Informática para el desarrollo de capacidades y aptitudes tecnológicas centradas en el desarrollo de aplicaciones y procesamiento y ciencias de datos.</p>
    </div>

    <div class="view-more-center">Ver más</div>

    <div class="centers is-hidden">
        <div class="center">
            <h2>
                <i class="fa fa-university icon" aria-hidden="true"></i>
                <span>I.E.S Arcebispo Xelmirez I</span>
            </h2>
            <div>
                <i class="fa-solid fa-book icon" aria-hidden="true"></i>
                <span>Bachillerato, Bachillerato Tecnológico</span>
            </div>
            <div>
                <i class="fas fa-calendar-alt icon" aria-hidden="true"></i>
                <span class="gray-data">2013 - 2015</span>
            </div>
        </div>
    
        <div class="center">
            <h2>
                <i class="fa fa-university icon" aria-hidden="true"></i>
                <span>La Salle Santiago</span>
            </h2>
            <div>
                <i class="fa-solid fa-book icon" aria-hidden="true"></i>
                <span>Educación Infantil, Primaria y Secundaria</span>
            </div>
            <div>
                <i class="fas fa-calendar-alt icon" aria-hidden="true"></i>
                <span class="gray-data">2000 - 2013</span>
            </div>
        </div>
    </div>

    <div class="view-less-center is-hidden">Ver menos</div>
</section>
