<section id="primary-content">
    <h1>
        <i class="fas fa-chart-pie icon" aria-hidden="true"></i>
        <span>Experiencia</span>
    </h1>

    <article class="business">
        <div class="title">
            <img class="business-img" src="./assets/images/bahia.jpg" alt="Bahia">
            <h2>
                <a href="https://bahiasoftware.es/home" target="_blank">Bahia Software</a>
            </h2>
        </div>

        <div class="subtitle">
            <i class="fas fa-calendar-alt icon" aria-hidden="true"></i>
            <span>3 años</span>
        </div>
        <div class="subtitle">
            <i class="fa-solid fa-location-crosshairs icon" aria-hidden="true"></i>
            <span class="gray-data">Milladoiro, Ames</span>
        </div>

        <ul class="business-list">
            <li class="business-list-item">
                <h3 class="mg-tp-10 pd-tp-5">
                    <i class="fas fa-laptop icon" aria-hidden="true"></i>
                    <span>Programador sénior</span>
                </h3>

                <div>
                    <i class="fas fa-clock icon" aria-hidden="true"></i>
                    <span>Jornada completa</span>
                </div>
                <div>
                    <i class="fas fa-calendar-alt icon" aria-hidden="true"></i>
                    <span class="gray-data">septiempre 2021 - <span class="bold">actualidad</span> • 7 meses</span>
                </div>

                <p><span class="bold">Ingeniero de software en el ámbito del desarrollo de aplicaciones y desarrollo web</span> para proyectos tecnológicos de la AMTEGA (<span class="italic"><a href="https://amtega.xunta.gal/" target="_blank">Axencia para a Modernización Tecnolóxica de Galicia</a></span>).</p>
                <p><span class="bold">Análisis y diseño de soluciones software <span class="italic">frontend</span> y <span class="italic">backend</span> en entornos de trabajo de metodologías ágiles en equipo</span>, asistencia y participación en reuniones funcionales para la captación y mantenimiento de requisitos, desarrollo y diseño de modelo de datos, administración de bases de datos, integración con servicios web de la AMTEGA y elaboración de documentación funcional y técnica.</p>
                <p>Desarrollo de servicios web <span class="italic">RESTful</span> y microservicios, y aplicación de tecnologías <span class="italic">Java</span>, <span class="italic">JavaScript</span>, <span class="italic">SQL</span>, <span class="italic">Spring Framework</span>, <span class="italic">Hibernate</span>, <span class="italic">Oracle</span>, <span class="italic">Thymeleaf</span>, <span class="italic">HTML5</span>, <span class="italic">CSS</span>, <span class="italic">JQuery</span>, <span class="italic">AJAX</span>, <span class="italic">Angular</span> y <span class="italic">Bootstrap</span>.</p>
                <p>Control de las herramientas <span class="italic">Redmine</span> y <span class="italic">Jira</span> para la gestión y seguimiento de proyectos, apoyo en la configuración y publicación de sistemas y proyectos en la herramienta <span class="italic">Jenkins</span> para la integración continua, optimización y calidad de software mediante la plataforma <span class="italic">SonarQube</span>, manejo de la herramienta software <span class="italic">Maven</span> para la construcción de proyectos <span class="italic">Java</span> y de los servidores de aplicaciones <span class="italic">Tomcat</span> y <span class="italic">JBoss</span>, y gestión de pruebas funcionales en las herramientas <span class="italic">TestLink</span> y <span class="italic">SoapUI</span>.</p>
            </li>

            <li class="business-list-item">
                <h3 class="mg-tp-10 pd-tp-5">
                    <i class="fas fa-laptop icon" aria-hidden="true"></i>
                    <span>Programador júnior</span>
                </h3>

                <div>
                    <i class="fas fa-clock icon" aria-hidden="true"></i>
                    <span>Jornada completa</span>
                </div>
                <div>
                    <i class="fas fa-calendar-alt icon" aria-hidden="true"></i>
                    <span class="gray-data">agosto 2019 - agosto 2021 • 2 años 1 mes</span>
                </div>
            </li>

            <li class="view-more-business">Ver más...</li>

            <li class="business-list-item view-less is-hidden">
                <h3 class="mg-tp-10 pd-tp-5">
                    <i class="fas fa-laptop icon" aria-hidden="true"></i>
                    <span>Becario de desarrollador de software</span>
                </h3>

                <div>
                    <i class="fas fa-clock icon" aria-hidden="true"></i>
                    <span>Jornada completa</span>
                </div>
                <div>
                    <i class="fas fa-calendar-alt icon" aria-hidden="true"></i>
                    <span class="gray-data">junio 2019 - julio 2019 • 2 meses</span>
                </div>
            </li>

            <li class="business-list-item view-less is-hidden">
                <h3 class="mg-tp-10 pd-tp-5">
                    <i class="fas fa-laptop icon" aria-hidden="true"></i>
                    <span>Desarrollador de software en prácticas universitarias</span>
                </h3>

                <div>
                    <i class="fas fa-clock icon" aria-hidden="true"></i>
                    <span>Jornada parcial</span>
                </div>
                <div>
                    <i class="fas fa-calendar-alt icon" aria-hidden="true"></i>
                    <span class="gray-data">abril 2019 - mayo 2019 • 2 meses</span>
                </div>
            </li>

            <li class="view-less-business is-hidden">Ver menos...</li>
        </ul>
    </article>

    <div class="business">
        <div class="title">
            <img class="business-img" src="./assets/images/citius.jpg" alt="Citius">
            <h2>Estudiante de Ingeniería Informática</h2>
        </div>
        <div>
            <i class="fa fa-desktop icon" aria-hidden="true"></i>
            <a href="https://citius.usc.es/" target="_blank">CiTIUS (Centro Singular de Investigación en Tecnoloxías Intelixentes)</a>
        </div>

        <div>
            <i class="fas fa-calendar-alt icon" aria-hidden="true"></i>
            <span class="gray-data">febrero 2019 - julio 2019 • 6 meses</span>
        </div>
        <div>
            <i class="fa-solid fa-location-crosshairs icon" aria-hidden="true"></i>
            <span class="gray-data">Santiago de Compostela, Galicia, España</span>
        </div>

        <p><span class="bold">Desarrollo del Trabajo de Fin de Grado de una Aplicación <span class="italic">Android</span></span> sobre un libro digital de recuerdos emotivos orientada a personas mayores con Alzheimer para la gestión de libros digitales de Historias de Vida para su uso en AFACO (<span class="italic">Asociación de Familiares de enfermos de Alzheimer y otras demencias afines en A Coruña</span>), tutorizada por investigadores del CiTIUS (<span class="italic"><a href="https://citius.usc.es/" target="_blank">Centro Singular de Investigación en Tecnoloxías Intelixentes</a></span>), con el fin de obtener la titulación del Grado en Ingeniería Informática en la USC (<span class="italic"><span class="italic"><a href="https://www.usc.gal/gl" target="_blank">Universidade de Santiago de Compostela</a></span>).</p>
    </div>
</section>
