<section class="ly-extra">
    <h1>
        <i class="fas fa-user-plus icon" aria-hidden="true"></i>
        <span>Más información</span>
    </h1>

    <div class="final-extra-content">
        <article id="final-content">
            <h2>
                <i class="fa fa-language icon" aria-hidden="true"></i>
                <span>Idiomas</span>
            </h2>
    
            <dl>
                <dt>Español</dt>
                <dd>Competencia bilingüe o nativa.</dd>
            
                <dt>Francés</dt>
                <dd>Competencia básica</dd>
            
                <dt>Gallego</dt>
                <dd>Competencia bilingüe o nativa</dd>
    
                <dt>Inglés</dt>
                <dd>Competencia básica profesional</dd>
            </dl>
        </article>
    
        <article id="extra-content">
            <h2>
                <i class="fa-solid fa-diagram-project icon" aria-hidden="true"></i>
                <span>Proyectos</span>
            </h2>
    
            <div class="project">
                <h3>EmoLibro: un libro digital de recuerdos emotivos para personas mayores</h3>
                <div class="gray-data">febrero 2019 - julio 2019</div>
                <div>Universidade de Santiago de Compostela</div>

                <a class="button-link" href="https://github.com/CarlosOteroFranjo/Android" target="_blank">
                    <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    <span>Ver proyecto</span>
                </a>

                <p>Desarrollo de una Aplicación <span class="italic">Android</span> orientada a personas con Alzheimer para la gestión de libros digitales de Historias de Vida para su uso en AFACO (<span class="italic">Asociación de Familiares de enfermos de Alzheimer y otras demencias afines en A Coruña</span>), tutorizada por investigadores del CiTIUS (<span class="italic"><a href="https://citius.usc.es/" target="_blank">Centro Singular de Investigación en Tecnoloxías Intelixentes</a></span>), para realizar el Trabajo de Fin de Grado con el fin de obtener la titulación del <span class="bold">Grado en Ingeniería Informática</span> en la USC (<span class="italic"><a href="https://www.usc.gal/gl" target="_blank">Universidad de Santiago de Compostela</a></span>).</p>
            </div>
        </article>
    </div>
</section>
