<footer id="footer">
    <nav class="nav">
        <ul>
            <li>
                <a class="link-footer" href="">Sobre mi</a>
            </li>
            <li>
                <a class="link-footer" href="">Aviso legal</a>
            </li>
            <li>
                <a class="link-footer" href="">Política de privacidad</a>
            </li>
            <li>
                <a class="link-footer" href="">Política de cookies</a>
            </li>
        </ul>

        <ul>
            <li>
                <a href=""><img src="./assets/images/twitter.svg" alt="Twitter"></a>
            </li>
            <li>
                <a href=""><img src="./assets/images/instagram.svg" alt="Instagram"></a>
            </li>
            <li>
                <a href=""><img src="./assets/images/youtube.svg" alt="Youtube"></a>
            </li>
        </ul>
    </nav>
    
    <div class="copy">&copy; Carlos Otero Franjo, Herramientas HTML y CSS II, Universitat Oberta de Catalunya</div>
</footer>