<header id="header">
    <figure class="photo">
        <img class="photo-img" src="./assets/images/photo-1.jpg" alt="Photo">
        <figcaption class="photo-title"></figcaption>
    </figure>

    <ul class="data-list">
        <li class="data-list-element user-name">Carlos Otero Franjo</li>
        <li>
            <i class="fa fa-desktop icon" aria-hidden="true"></i>
            <a class="data-list-element" href="https://bahiasoftware.es/home" target="_blank">Bahia Software</a>
        </li>
        <li>
            <i class="fa fa-university icon" aria-hidden="true"></i>
            <a class="data-list-element" href="https://www.uoc.edu/portal/es/index.html" target="_blank">Universitat Oberta de Catalunya</a>
        </li>
        <li class="data-list-element">
            <i class="fa-solid fa-location-crosshairs icon" aria-hidden="true"></i>
            <span class="gray-data">Ames, Galicia, España</span>
        </li>
        <li class="data-list-contact">
            <i class="fa-solid fa-phone icon" aria-hidden="true"></i>
            <a class="data-list-element blue-data" id="view-contact" href="#contact">Información de contacto</a>
        </li>
    </ul>
</header>
