<section id="quaternary-content">
    <h1>
        <i class="fas fa-address-card icon" aria-hidden="true"></i>
        <span>Conocimientos y aptitudes</span>
    </h1>

    <div class="knowledge">
        <article class="knowledge-list">
            <h2>
                <i class="fas fa-laptop-code icon" aria-hidden="true"></i>
                <span>Conocimientos del sector</span>
            </h2>

            <ul>
                <li class="knowledge-list-item">Desarrollo de software</li>
                <li class="knowledge-list-item">Desarrollo web</li>
                <li class="knowledge-list-item">Desarrollo web front-end</li>
                <li class="knowledge-list-item">Desarrollo web back end</li>
                <li class="knowledge-list-item">Scrum</li>
                <li class="view-more-knowledge">Ver más...</li>
                <li class="knowledge-list-item view-less is-hidden">Diseño de software</li>
                <li class="knowledge-list-item view-less is-hidden">Integración continua</li>
                <li class="knowledge-list-item view-less is-hidden">Gestión de proyectos</li>
                <li class="knowledge-list-item view-less is-hidden">Programación orientada a objetos (OOP)</li>
                <li class="knowledge-list-item view-less is-hidden">Arquitectura orientada a servicios (SOA)</li>
                <li class="view-less-knowledge is-hidden">Ver menos...</li>
            </ul>
        </article>

        <article class="technology-list">
            <h2>
                <i class="fas fa-tools icon" aria-hidden="true"></i>
                <span>Herramientas y tecnologías</span>
            </h2>

            <ul>
                <li class="technology-list-item">Java</li>
                <li class="technology-list-item">JavaScript</li>
                <li class="technology-list-item">SQL</li>
                <li class="technology-list-item">Spring Framework</li>
                <li class="technology-list-item">Spring MVC</li>
                <li class="view-more-technology">Ver más...</li>
                <li class="technology-list-item view-less is-hidden">Spring Boot</li>
                <li class="technology-list-item view-less is-hidden">Hibernate</li>
                <li class="technology-list-item view-less is-hidden">Servicios web de RESTful</li>
                <li class="technology-list-item view-less is-hidden">Oracle SQL Developer</li>
                <li class="technology-list-item view-less is-hidden">HTML5</li>
                <li class="technology-list-item view-less is-hidden">Hojas de estilos en cascada (CSS)</li>
                <li class="technology-list-item view-less is-hidden">Angular</li>
                <li class="technology-list-item view-less is-hidden">React.js</li>
                <li class="technology-list-item view-less is-hidden">Node.js</li>
                <li class="technology-list-item view-less is-hidden">MongoDB</li>
                <li class="technology-list-item view-less is-hidden">jQuery</li>
                <li class="technology-list-item view-less is-hidden">AJAX</li>
                <li class="technology-list-item view-less is-hidden">JSON</li>
                <li class="technology-list-item view-less is-hidden">Android</li>
                <li class="technology-list-item view-less is-hidden">Python</li>
                <li class="technology-list-item view-less is-hidden">GitHub</li>
                <li class="technology-list-item view-less is-hidden">Tortoise SVN</li>
                <li class="technology-list-item view-less is-hidden">Jenkins</li>
                <li class="technology-list-item view-less is-hidden">Maven</li>
                <li class="technology-list-item view-less is-hidden">Tomcat</li>
                <li class="technology-list-item view-less is-hidden">JIRA</li>
                <li class="technology-list-item view-less is-hidden">TensorFlow</li>
                <li class="view-less-technology is-hidden">Ver menos...</li>
            </ul>
        </article>

        <article class="list">
            <h2>
                <i class="fas fa-chalkboard-teacher icon" aria-hidden="true"></i>
                <span>Aptitudes interpersonales</span>
            </h2>

            <ul>
                <li class="list-item">Trabajo en equipo</li>
                <li class="list-item">Iniciativa</li>
                <li class="list-item">Proactividad</li>
            </ul>
        </article>
        
        <article class="list">
            <h2>
                <i class="fas fa-user-plus icon" aria-hidden="true"></i>
                <span>Otras aptitudes</span>
            </h2>

            <ul>
                <li class="list-item">Microservicios</li>
                <li class="list-item">TypeScript</li>
                <li class="list-item">Thymeleaf</li>
                <li class="list-item">Redmine</li>
                <li class="list-item">TestLink</li>
            </ul>
        </article>
    </div>
</section>
